{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <table class="table">
            <thead>
                <tr>
                    <th>Topic title</th>
                    <th>Content</th>
                    <th>Created</th>
                </tr>
            </thead>

            <tbody>

                {% for comment in comments %}
                {% if comment.author_email == user.email()%}
                <tr>
                    <td><a href="/topic/{{comment.topic_id}}">{{ comment.topic_title }}</a></td>
                    <td>{{ comment.content }}</td>
                    <td>{{ comment.created.strftime('%d.%m.%Y at %H:%M') }}</td>

                </tr>
                {% endif %}
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>
{% endblock content %}