{% extends "base.html" %}
{% block title %}Main {% endblock title %}
{% block content%}
    <div class="jumbotron">
  <h1>Welcome to Ninja tech forum</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>



<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <table class="table">
            <thead>
                <tr>
                    <th>Topic title</th>
                    <th>Author</th>
                    <th>Created</th>
                </tr>
            </thead>

            <tbody>
                {% for topic in topics %}
                <tr>
                    <td><a href="/topic/{{ topic.key.id() }}">{{ topic.title }}</a></td>
                    <td>{{ topic.author_email }}</td>
                    <td>{{ topic.created.strftime('%d.%m.%Y at %H:%M') }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
    {% endblock content%}