{% extends "base.html" %}
{% block title %}Main {% endblock title %}
{% block content%}
    <div class="jumbotron">
  <h1>Welcome to Ninja tech forum</h1>
        <p>You can subscribe to hottest topics daily</p>
        <div class="row">
            <form action="/mailing" method="post">
                  <label>Name</label>
                  <input name="name" required>
                  <label>email</label>
                  <input name="email" required>
                  <button class="btn btn-info" type="submit">Subscribe to new topics daily</button>


            </form>
         </div>

</div>



<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <table class="table">
            <thead>
                <tr>
                    <th>Topic title</th>
                    <th>Author</th>
                    <th>Created</th>
                </tr>
            </thead>

            <tbody>
                {% for topic in topics %}
                <tr>
                    <td><a href="/topic/{{ topic.key.id() }}">{{ topic.title }}</a></td>
                    <td>{{ topic.author_email }}</td>
                    <td>{{ topic.created.strftime('%d.%m.%Y at %H:%M') }}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

    {% endblock content%}